@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Hur vi använder dina personuppgifter:</b><br />
    <br />
    Endast de mest nödvändiga personuppgifter sparas för att tjänsten ska fungera. Det är:<br />
    <br />
    - Namn<br />
    - Adress<br />
    - Orderinformation (vilka produkter som beställts)<br />
    - Epost<br />
    - Lösenord (sparas i krypterad form i databasen)<br />
    - Telefonnummer<br />
    <br />
    Du kan när som helst radera dina uppgifter hos oss genom att logga in -> Klicka på din epostadress uppe till höger -> Personal data -> Delete. Där finns även möjlighet att ladda ner dina uppgifter från vår databas.<br />
    <br />
    Vi använder även s.k cookies för att kunna möjliggöra navigationen på sidan och även göra det möjligt för dig att slippa logga in nästa gång du besöker oss (om du väljer det alternativet).<br />
</p>
