@model IEnumerable<ProductsService.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<div class="d-flex flex-row justify-content-around align-content-around flex-wrap">
@foreach (var item in Model)
{
    <div class="card flex-grow-0 flex-shrink-1 m-1" style="flex-basis: 300px">
        <div class="card-body">
            <h3 class="card-title">@item.Name</h3>
            <p class="card-text"></p>
            <p>

                @item.Price.ToString("C")
                @if (User.Identity.IsAuthenticated)
				{
                    <span class="float-right"><button class="btn btn-success" onclick="AddToCart('@item.ID')">Buy</button></span>
				}
            </p>
        </div>
    </div>
}
</div> 

